.form {
  background-color: #fff;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form__title {
  text-align: center;
  color: teal;
  font-size: 2em;
}

.form__button {
  width: 49%;
  border: none;
  background-color: teal;
  color: white;
  padding: 10px;
}

.form__button:hover {
  background-color: hsl(180, 100%, 35%);
}

.form__button:active {
  background-color: hsl(180, 100%, 40%);
}

.form__labelText {
  display: inline-block;
  width: 200px;
  margin-right: 5px;
}

.form__field {
  border: 1px solid darkgray;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.form__fieldset {
  border: 0;
  padding: 10px;
}

.form__legend {
  border: 1px solid #000;
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
