html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-image: url("../images/pexels-pixabay-53594.jpg");
    background-position: center center;
    background-size: cover;
}

.title {
    text-shadow: 1px 2px 5px yellow;
}

.newCurrency {
    color: crimson;
}

.newValue {
    margin-top: 30px;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
    text-decoration: underline wavy;
    border-radius: 5px;
    box-shadow: 2px 5px 14px;
}
